<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsmproj">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="LiftLog"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Reports" android:theme="@style/Launcher"></activity>
        <activity android:name=".Chestpress" android:theme="@style/Launcher"/>
        <activity android:name=".Deadlift" android:theme="@style/Launcher"/>
        <activity android:name=".Squat" android:theme="@style/Launcher" />
        <activity android:name=".Dashboard" android:theme="@style/Launcher" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4240065040191031~7916021724" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>